@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	button,
	a {
		@apply ring-transparent focus:outline-pink-300 outline-none rounded-sm;
	}

	.gradient-bg {
		@apply bg-gradient-to-tr from-[#be40db] via-[#f96ca7] to-[#fe9b7e];
	}
}

body {
	@apply bg-main-900 text-neutral-100;
}
